//- index.pug
doctype html
html(lang="fr")
  head
    meta(charset='utf-8')
    title kiss_socket.io
    meta(name='description', content='A sandbox to experiment socket.io')
    meta(name='author', content='charlyoleg')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/kiss_socketio_style.css?v=1.0')
    //link(rel='manifest', href='/manifest.json')
    //link(rel='icon', href='kiss_socketio_favicon.svg', type='image/svg+xml')
  body
    h1 Kiss Socket.io client in browser
    a(href="https://socket.io") socket.io
    .mycontribution My contributions
      input.quantity_in(type="number" min="0" max="10000")
      button(type="button") Send
    .groupresult_push
      p The pushed group-result:
      p.quantity_out Zero
    .groupresult_pull
      p The pulled group-result:
      button(type="button") Ask
      p.quantity_out Zero
    // the logic
    script(type='module', src='js/kiss_socketio.js?v=1.0')
